[submodule "authentication"]
	path = authentication
	url = https://github.com/sftCommunity/auth-accounts.ms.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/sftCommunity/ft_accounts.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/sftCommunity/gateway-accounts.git
